<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <property name="LOG_FILE" value="${LOG_FILE:-${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}/}spring.log}"/>
    <property name="CONSOLE_LOG_PATTERN"
              value="%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(%5p) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%X{correlationId}){faint} %clr(---){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n%wex"/>

    <springProperty name="APP_NAME" source="spring.application.name" defaultValue="UNKNOWN_APPLICATION"/>
    <springProperty name="SPRING_PROFILES_ACTIVE" source="spring.profiles.active"/>
    <springProperty name="FACILITY" source="logging.facility" defaultValue="unknownFacilityValue"/>

    <springProfile name="local,default,dev">
        <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

        <root level="DEBUG">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

</configuration>